* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

.todo-app {
    background: #EEEEEE;
    width: 100%;
    max-width: 800px;
    margin: 0px auto 20px;
    padding: 40px 30px 30px;
    border-radius: 10px;
}

h2 {
    display: flex;
    font-weight: 500;
    text-wrap: nowrap;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
}

h2 span {
    color: #ff5945;
}

h2 img {
    width: 50px;
    margin-left: 20px;
    margin-top: 5px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(0, 0, 0, 0.8);
    width: 100%;
    max-width: 800px;
    margin: 0px auto 20px;
    padding: 40px 30px 40px;
    border-radius: 10px;
}

.inputs {
    background: #fff;
    display: flex;
    border-radius: 10px;
    align-items: center;
    width: 84%;
}

input[type=text] {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 13px;
    font-weight: 14px;
}

input[type=date] {
    width: 30px;
    border: none;
    outline: none;
    border-radius: 6px;
    margin-right: 10px;
    font-size: 25px;
}

/* ::-webkit-calendar-picker-indicator {
    filter: invert(1);
} */

button {
    border: none;
    padding: 12px 20px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    text-wrap: nowrap;
    cursor: pointer;
    border-radius: 10px;
}

ul {
    margin: 0 10px;
}

ul li {
    list-style: none;
    display: flex;
    /* width: 100%; */
    font-size: 17px;
    justify-content: space-between;
    flex-wrap: wrap;
    /* text-wrap: wrap; */
    background: #fff;
    padding: 13px 8px 13px 50px;
    outline: 1px solid #555;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: #000;
}

ul li::before {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li p {
    font-size: 17px;
    background: transparent;
    cursor: pointer;
    color: #000;
    text-decoration: underline;
    margin-right: 90px;
}

ul li.checked p {
    color: #000;
}

ul li span {
    width: 80px;
    font-size: 18px;
    border-radius: 5px;
    background: red;
    line-height: 30px;
    text-align: center;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

@media only screen and (max-width:650px) {
    .row{
        flex-wrap: wrap;
        justify-content: center;
    }
    button{
        width: 50%;
    }
    .inputs{
        width: 100%;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:350px){
    input[type=text]{
        padding: 5px;
    }
    .todo-app{
        padding: 0;
    }
}